In [1]:
import pandas as pd

In [2]:
file = pd.read_csv("city_county.csv")
file.dropna()
file.head()

,ZIP,X,Y,ZIP_CLASS,CITY,STATE,STATECODE,STATENAME,COUNTY,COUNTYNM,...,AREACODE,AREACODES,TIMEZONE,GMTOFFSET,DST,PONAME,ALIAS_CITY,ALIAS_CITYN,CITY2,STATENAME2
0,501,-73.046388,40.813078,U,HOLTSVILLE,36,NY,NEW YORK,103,SUFFOLK,...,631,631,EASTERN,-5,Y,HOLTSVILLE,NaN,NaN,HOLTSVILLE,NEWYORK
1,544,-73.049288,40.813223,U,HOLTSVILLE,36,NY,NEW YORK,103,SUFFOLK,...,631,631,EASTERN,-5,Y,HOLTSVILLE,NaN,NaN,HOLTSVILLE,NEWYORK
2,601,-66.723627,18.165950,NaN,ADJUNTAS,72,PR,PUERTO RICO,1,ADJUNTAS,...,787,787/939,ATLANTIC,-4,N,ADJUNTAS,NaN,COLINAS DEL GIGANTE||JARD DE ADJUNTAS||URB SAN...,ADJUNTAS,PUERTORICO
3,602,-67.186553,18.383005,NaN,AGUADA,72,PR,PUERTO RICO,3,AGUADA,...,787,787/939,ATLANTIC,-4,N,AGUADA,NaN,ALTS DE AGUADA||BO GUANIQUILLA||COMUNIDAD LAS ...,AGUADA,PUERTORICO
4,603,-67.151954,18.433236,NaN,AGUADILLA,72,PR,PUERTO RICO,5,AGUADILLA,...,787,787/939,ATLANTIC,-4,N,AGUADILLA,RAMEY,BDA CABAN||BDA ESTEVES||BO BORINQUEN||BO CEIBA...,AGUADILLA,PUERTORICO

In [3]:
file = pd.read_csv("county_income.csv")
file.dropna()
file.head()

,Year,State,County ID,State / County Name,All Ages SAIPE Poverty Universe,All Ages in Poverty Count,All Ages in Poverty Count LB 90%,All Ages in Poverty Count UB 90%,90% Confidence Interval (All Ages in Poverty Count),All Ages in Poverty Percent,...,Under Age 5 in Poverty Count UB 90%,90% Confidence Interval (Under Age 5 in Poverty Count),Under Age 5 in Poverty Percent,Under Age 5 in Poverty Percent LB 90%,Under Age 5 in Poverty Percent UB 90%,90% Confidence Interval (Under Age 5 in Poverty Percent),Median Household Income in Dollars,Median Household Income in Dollars LB 90%,Median Household Income in Dollars UB 90%,90% Confidence Interval (Median Household Income in Dollars)
0,2017,0,0,United States,"317,741,588","42,583,651","42,342,619","42,824,683","42,342,619 to 42,824,683",13.4,...,"3,985,293","3,880,645 to 3,985,293",20.2,19.9,20.5,19.9 to 20.5,"$60,336","$60,250","$60,422","$60,250 to $60,422"
1,2016,0,0,United States,"315,165,470","44,268,996","44,022,086","44,515,906","44,022,086 to 44,515,906",14.0,...,"4,205,501","4,108,397 to 4,205,501",21.3,21.1,21.5,21.1 to 21.5,"$57,617","$57,502","$57,732","$57,502 to $57,732"
2,2015,0,0,United States,"313,476,400","46,153,077","45,878,016","46,428,138","45,878,016 to 46,428,138",14.7,...,"4,499,317","4,397,105 to 4,499,317",22.8,22.5,23.1,22.5 to 23.1,"$55,775","$55,690","$55,860","$55,690 to $55,860"
3,2014,0,0,United States,"310,899,910","48,208,387","47,966,830","48,449,944","47,966,830 to 48,449,944",15.5,...,"4,707,270","4,609,104 to 4,707,270",23.9,23.7,24.1,23.7 to 24.1,"$53,657","$53,564","$53,750","$53,564 to $53,750"
4,2013,0,0,United States,"308,196,783","48,810,868","48,554,692","49,067,044","48,554,692 to 49,067,044",15.8,...,"4,864,004","4,759,374 to 4,864,004",24.8,24.5,25.1,24.5 to 25.1,"$52,250","$52,185","$52,315","$52,185 to $52,315"