In [34]:
import pandas as pd

In [35]:
gdp = pd.read_csv('source/wages.csv') 
gdp.head(20)

,County,Quarterly,January,February,March,Total,Average,March.1,Total.1
0,NaN,Establishments,Employment,Employment,Employment,Quarterly,Weekly,Employment,Quarterly
1,NaN,NaN,NaN,NaN,NaN,Wages,Wage,Location,Wages
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Quotient,Location
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Quotient
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,U.S. TOTAL,"9,902,437","123,622,767","123,963,802","124,457,115","$1,930,727,232,449","$1,198",1,1
6,"Autauga County, Alabama",820,"8,395","8,391","8,398","88,630,179",812,0.9,0.9
7,"Baldwin County, Alabama","6,320","63,368","64,350","66,012","591,183,384",704,1.02,0.99
8,"Barbour County, Alabama",507,"6,500","6,414","6,429","61,471,106",733,0.94,0.94
9,"Bibb County, Alabama",320,"3,051","3,137","3,233","33,383,740",818,0.85,0.87
10,"Blount County, Alabama",721,"6,569","6,567","6,611","58,573,550",685,0.89,0.88
11,"Bullock County, Alabama",147,"2,251","2,325","2,317","19,609,082",656,0.93,0.89
12,"Butler County, Alabama",445,"5,865","5,828","5,875","50,128,937",658,1.02,1.01
13,"Calhoun County, Alabama","2,421","32,256","32,350","32,494","305,315,833",726,0.86,0.77
14,"Chambers County, Alabama",540,"6,441","6,427","6,505","62,468,956",744,0.92,0.91
15,"Cherokee County, Alabama",368,"3,849","3,909","3,988","33,166,666",652,0.89,0.86
16,"Chilton County, Alabama",748,"7,640","7,661","7,649","74,704,957",751,0.95,0.95
17,"Choctaw County, Alabama",281,"3,670","3,668","3,787","51,923,707","1,077",1.05,1.08
18,"Clarke County, Alabama",598,"6,234","6,191","6,221","65,417,329",810,0.92,0.93
19,"Clay County, Alabama",185,"3,346","3,313","3,332","29,442,208",680,0.91,0.93

In [36]:
wages_df=gdp[["County", "Quarterly","Total","Average"]]
wages_df.head(10)

                    County       Quarterly                Total  Average
0                      NaN  Establishments            Quarterly   Weekly
1                      NaN             NaN                Wages     Wage
2                      NaN             NaN                  NaN      NaN
3                      NaN             NaN                  NaN      NaN
4                      NaN             NaN                  NaN      NaN
5               U.S. TOTAL       9,902,437  $1,930,727,232,449   $1,198
6  Autauga County, Alabama             820           88,630,179      812
7  Baldwin County, Alabama           6,320          591,183,384      704
8  Barbour County, Alabama             507           61,471,106      733
9     Bibb County, Alabama             320           33,383,740      818

In [45]:
wages_df.count()

County       3246
Quarterly    3247
Total        3248
Average      3248
dtype: int64

In [48]:
wage=wages_df.iloc[6:]
wage.head()

                     County Quarterly        Total Average
6   Autauga County, Alabama       820   88,630,179     812
7   Baldwin County, Alabama     6,320  591,183,384     704
8   Barbour County, Alabama       507   61,471,106     733
9      Bibb County, Alabama       320   33,383,740     818
10   Blount County, Alabama       721   58,573,550     685

In [44]:
wage.dropna()
wage.count()

County       3245
Quarterly    3245
Total        3245
Average      3245
dtype: int64

In [53]:
wage = wage.reset_index(drop=True)
wage.head()

                    County Quarterly        Total Average
0  Autauga County, Alabama       820   88,630,179     812
1  Baldwin County, Alabama     6,320  591,183,384     704
2  Barbour County, Alabama       507   61,471,106     733
3     Bibb County, Alabama       320   33,383,740     818
4   Blount County, Alabama       721   58,573,550     685

In [57]:
wage_pd= wage.rename({"Average":"Avg Income", "Quarterly":"Quarterly Income","Total":"Total Income"}, axis=1)
wage_pd.head()

                    County Quarterly Income Total Income Avg Income
0  Autauga County, Alabama              820   88,630,179        812
1  Baldwin County, Alabama            6,320  591,183,384        704
2  Barbour County, Alabama              507   61,471,106        733
3     Bibb County, Alabama              320   33,383,740        818
4   Blount County, Alabama              721   58,573,550        685